asgiref==3.9.1
cffi==1.17.1
crispy-bootstrap5==2025.6
cryptography==45.0.7
cryptograpy==0.0.0
Django==5.2.6
django-crispy-forms==2.4
gunicorn==23.0.0
mysqlclient==2.2.7
packaging==25.0
pillow==11.3.0
psycopg2==2.9.11
pycparser==2.22
python-dotenv==1.1.1
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
whitenoise==6.11.0
