{% extends "base.html" %}

{% block title %}Categories{% endblock  %}

{% block content %}
{% include "navbar.html" %}


<div class="container" style="width: 50%; margin-bottom:100px">
    <h3>Categories</h3>
    <div class='categories'>
        {% for category in categories %}
            <ul>
                <li style="width: 100%;"><a href='{% url "Home" %}'>{{category.name}}</a></li>
            </ul>        
        {% endfor %}
    </div>
</div>
<hr>
{% include "footer.html" %}
{% endblock  %}