{% extends "base.html" %}
{% load static %}
{% block title %}Prfole {% endblock title %}
{% block content %}
{% include "navbar.html" %}



<div class="container-main">
  <div class="profile-sidebar">
    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="Profile Picture">
    <h3>{{user}}</h3>
    <p>{{ user.email}}</p>
    <hr>

    <div class="menu">
      <ul>
        <li style="background: #f0f0f0;transform: translateX(5px);"><a href="{% url "userprofile" %}" class="text-dark" disabled><i class="fas fa-address-card" style="margin-right: 10px;"></i> Address</a></li>
        <li><a href="{% url "Order_status" %}" class="text-dark" active><i class="fas fa-box" style="margin-right: 10px;"></i> My Orders</a></li>
        <li><a href="{% url "settings" %}" class="text-dark"><i class="fa-solid fa-gear" style="margin-right: 10px;"></i>Settings</a></li>
        <hr>
        <li class="logout"><a href="{% url 'logout' %}" class="text-danger"><i class="fa fa-sign-out" style="margin-right:10px"></i>Logout</a></li>
      </ul>
    </div>
  </div>
  <div class="cart-container">
    <h3>Personal Details</h3>
    <div class="info">
      <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" class="img-main" alt="defualt Profile picture" width="300px" height="300px">
      <div class="name">
        <p>Username :<span>{{user.username}}</span></p>
        <p>First Name :<span>{{user.first_name|default:'-----'}}</span></p>
        <p>Last Name :<span>{{user.last_name|default:'-----'}}</span></p>
        <p>Email: <span>{{user.email}}</span></p>
        <div class="pr-mem"><img src='{% static "assets/images/clients/premium_badge.webp" %}' alt='Premium badge' width='20px' height='15px' style='border-radius:10px'>
          Premium Member</div>
      </div>
    </div>
    <hr style="width: 80%;margin:auto;margin-top: 0;margin-bottom:0;background-color: black;">
    <div class="address">
      <pre>
        <strong>Address</strong>
        {{profile.phone|default:'-----'}}
        {{profile.city|default:'-----'}}
        {{profile.state|default:'-----'}}
        {{profile.zipcode|default:'-----'}}
        {{profile.country|default:'-----'}}
        {{profile.address1|default:'-----'}}
      </pre>
    </div>
    <div style="text-align: center;">
      <a href="{% url "update_user" %}" class="btn btn-primary">Edit details</a>
    </div>
  </div>
</div>
<hr>
{% include "footer.html" %}
{% endblock %}
