{% extends "registration/login.html" %}


{% block content %}
{% if messages %}
<div class="messages">
{% for message in messages %}
    <div class="{{ message.tags }}">
    <span class="alert">{{ message }}</span>
    <button class="close-btn" onclick="this.parentElement.style.display='none';">&times;</button>
    </div>
{% endfor %}
</div>
{% endif %}
<center>
    <div class="container p-3" style="background: whitesmoke;margin-top:100px;">
        <h2 class="text-center login-title mb-4">Reset the Password</h2>
                <div class="col-sm-5">
                            <form action="{% url 'forget_password' %}" method="post">
                                {% csrf_token %}
                                <input type="email" class="form-control mb-3" placeholder="enter registered email" name='email'>
                                <input type="submit" class="form-control btn btn-success" value="Get OTP" class="btn-login">
                            </form>

                        <div>
                    </div>
            </div>
        </center>



{% endblock  %}