{% extends "registration/login.html" %}

{% block content %}

<center>
    <div class="container">
        <div>Reset Password</div>
    <form method="POST" action="{% url 'password_change' %}">
      {% csrf_token %}
      <input type="text" name="password1" placeholder="Enter New Password"><br>
      <input type="text" name="password2" placeholder="Confirm Password"><br>
      {% if messages %}
            <div class="messages">
            {% for message in messages %}
                <div class="{{ message.tags }}">
                <span class="alert">{{ message }}</span>
                <button type='button' class="close-btn" onclick="this.parentElement.style.display='none';">&times;</button>
                </div>
            {% endfor %}
            </div>
            {% endif %}
      <button type="submit">Reset</button>
    </form>
        
    </div>
</center>
{% endblock  %}