{% extends "base.html" %}
{% load static %}
{% block title %}Order Status{% endblock title %}
{% block content %}
{% include "navbar.html" %}

 <!-- Page Title -->
 <div class="page-title light-background">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0">Product Details</h1>
    <nav class="breadcrumbs">
      <ol>
        <li><a href="{% url 'Home' %}">Home</a></li>
        <li><a href='{% url "cart_summary" %}'>Cart Items</a></li>
      </ol>
    </nav>
  </div>
</div>
<div class="container-main">
  <div class="profile-sidebar">
    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="Profile Picture">
    <h3>{{user}}</h3>
    <p>{{ user.email }}</p>
    <hr>

    <div class="menu">
      <ul>
        <li><a href="{% url "userprofile" %}" class="text-dark"><i class="fas fa-address-card" style="margin-right: 10px;"></i> Address</a></li>
        <li style="background: #f0f0f0;transform: translateX(5px);"><a href="{% url "Order_status" %}" class="text-dark" active><i class="fas fa-box" style="margin-right: 10px;"></i> My Orders</a></li>
        <li><a href="{% url "settings" %}" class="text-dark"><i class="fa-solid fa-gear" style="margin-right: 10px;"></i>Settings</a></li>
        <hr>
        <li class="logout"><a href="{% url 'logout' %}" class="text-danger"><i class="fa fa-sign-out" style="margin-right:10px"></i>Logout</a></li>
      </ul>
    </div>
  </div>

<div class="cart-container">
{% for item in ordered_items %}
  {% with product=item.product quantity=item.quantity %}
    <div class="cart-item">
      <img src="{{ product.image.url }}" alt="Product" class="cart-img">
      <div class="cart-info">
        <div class="cart-name">{{ product.name }} 
          {% if item.order.shipped %}
          <div class="tracker-step">shipped</div>
          {% endif %}
        </div>
        <div class="cart-description">{{ product.description }}</div>
          <div class="cart-price">{{quantity}} X {{ item.price }}</div><hr>
          <div class="title">Tracking</div>
          <div class="tracking-container">
                <div class="tracker-step completed">Packed</div>
                <div class="tracker-line"></div>

                {% if item.order.shipped %}
                <div class="tracker-step completed">shipped</div>
                {% else %}
                <div class="tracker-step active">shipped</div>
                {% endif %}
                <div class="tracker-line"></div>
                <div class="tracker-step">reached</div>
                <div class="tracker-line"></div>

                <div class="tracker-step">Delivered</div>

              
          </div>
          
      </div>
    </div>
     
  {% endwith %}
{% empty %}
<center>
  <p>Your Cart is empty</p>
  <p>Click here to  <a href="{% url 'Home' %}">Shop now</a></p>
</center>
  {% endfor %}
  </div>
</div>
<hr>
{% include "footer.html" %}
{% endblock %}
