<!--footer start-->
<footer id="footer"  class="footer">
    <div class="container">
        <div class="hm-footer-copyright text-center">
            <div class="footer-social">
                <a href="https://www.facebook.com/profile.php?id=61576869495780"><i class="fa fa-facebook"></i></a>	
                <a href="https://github.com/SandeepR8/"><i class="fa fa-github" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/in/sandeep-rokkala-68839b259"><i class="fa fa-linkedin"></i></a>
            </div>
            <p>
                &copy;copyright. designed and developed by <a href="#">Sandeep</a>
            </p>
        </div>
    </div>

    <div id="scroll-Top">
        <div class="return-to-top">
            <i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
        </div>
        
    </div>
    
</footer>